<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>C:\Martin\Lua\lua-5.3.3_Win64_bin\lua.exe</StartProgram>
    <StartArguments>LuaFile1.lua</StartArguments>
    <StartWorkingDirectory>C:\Martin\GitHub\HotFixForUnity\Lua\LuaProject\Lua1</StartWorkingDirectory>
  </propertyGroup>
</Project>